# DO NOT ADD SECRETS TO THIS FILE. This is a good place for defaults.
# If you want to add secrets use `.env.local` instead.

VERCEL=""
VERCEL_ENV="" # "production" | "development" | "preview"
VERCEL_URL=""
VERCEL_GIT_PROVIDER=""
VERCEL_GIT_PREVIOUS_SHA=""
VERCEL_GIT_REPO_SLUG=""
VERCEL_GIT_REPO_OWNER=""
VERCEL_GIT_REPO_ID=""
VERCEL_GIT_COMMIT_REF=""
VERCEL_GIT_COMMIT_SHA=""
VERCEL_GIT_COMMIT_MESSAGE=""
VERCEL_GIT_COMMIT_AUTHOR_LOGIN=""
VERCEL_GIT_COMMIT_AUTHOR_NAME=""

NEXT_SEO_JLD_ANSWER="ERC-4626 is a tokenized vault standard. Vaults are smart contracts that take in token deposits and do something with those tokens to provide token rewards to thedepositor"
NEXT_SEO_JLD_QUESTION="What is ERC-4626?"
NEXT_SEO_PREVIEW="https://erc4626.info/preview.jpg"
NEXT_SEO_TWITTER="@superformxyz"
NEXT_SEO_ABOUT="ERC-4626 is a tokenized vault standard. Vaults are smart contracts that take in token deposits and do something with those tokens to provide token rewards to the"
NEXT_SEO_TITLE="ERC-4626 — a tokenized vault standard"
NEXT_SEO_CANONICAL="https://erc4626.info"
NEXT_IMG_PATH="public/static"
NEXT_TELEMETRY_DISABLED="1"
NEXT_PUBLIC_GA_ID="G-80CQ5Q9HX7"
