# DO NOT ADD SECRETS TO THIS FILE. This is a good place for defaults.
# If you want to add secrets use `.env.local` instead.

NEXT_PUBLIC_GA_ID=G-80CQ5Q9HX7

NEXT_TELEMETRY_DISABLED=1

NEXT_SEO_CANONICAL=https://erc4626.info
NEXT_SEO_TITLE="ERC-4626 — a tokenized vault standard"
NEXT_SEO_ABOUT="The ERC-4626 tokenized vault standard standardizes the vaulting process. It ensures that coins are protected from unauthorized access and can be easily minted or wrapped. ERC-4626 could resolve the mishmash of the types of design associated with tokens that print money in DeFi."
NEXT_SEO_TWITTER=@superformxyz
NEXT_SEO_PREVIEW=https://erc4626.info/preview.jpg

NEXT_SEO_JLD_QUESTION="What is ERC-4626?"
NEXT_SEO_JLD_ANSWER=https://www.theguardian.com/

