{
  "branches": [
    "+([0-9])?(.{+([0-9]),x}).x",
    "main",
  ],
  "debug": false,
  "tagFormat": "${version}",
  "npmPublish": false,
  "plugins": [
    [
      "@semantic-release/commit-analyzer",
      {
        "preset": "conventionalcommits",
        "parserOpts": {
          "preset": "conventionalchangelog",
          "issuePrefixes": [
            "SUP-"
          ],
          "issueUrlFormat": "https://linear.app/superform/issue/{{prefix}}{{id}}"
        }
      }
    ],
    [
      "@semantic-release/release-notes-generator",
      {
        "preset": "conventionalcommits",
        "parserOpts": {
          "preset": "conventionalchangelog",
          "issuePrefixes": [
            "SUP-"
          ],
          "issueUrlFormat": "https://linear.app/superform/issue/{{prefix}}{{id}}"
        },
        "writerOpts": {
          "commitsSort": [
            "subject",
            "scope"
          ]
        }
      }
    ],
    [
      "@semantic-release/npm",
      {
        "npmPublish": false
      }
    ],

    [
      "@semantic-release/changelog",
      {
        "changelogFile": "CHANGELOG.md"
      }
    ],
    [
      "@semantic-release/git",
      {
        "assets": [
          "package.json",
          "yarn.lock",
          "CHANGELOG.md"
        ],
        "message": "chore(release): ${nextRelease.version} [skip ci]\n\n${nextRelease.notes}"
      }
    ],
    [
      "@semantic-release/exec",
      {
        "prepareCmd": "APP_GIT_VERSION=${nextRelease.version} yarn run generate",
        "publishCmd": "zip -r dist.zip CHANGELOG.md out vercel.json"
      }
    ],
    [
      "@semantic-release/github",
      {
        "assets": [
          {
            "path": "dist.zip",
            "label": "Dist package"
          }
        ]
      }
    ]
  ]
}