@import "variables.module";
@import "aos/src/sass/aos";

@import "lite-youtube-embed/src/lite-yt-embed.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  @apply scroll-smooth;
}


body {
  @apply m-0 overscroll-none touch-none overflow-x-hidden md:overflow-x-auto subpixel-antialiased antialiased;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: auto;
}


.indexHeader {
  @apply backdrop-filter backdrop-blur-xl shadow-sm md:overflow-hidden;
  @apply bg-pink-200 fixed w-full z-20 py-6;

  will-change: background-color;
  backdrop-filter: blur(24px);

  background-color: rgba(255, 255, 255, .8);

  &.transparentBg {
    @apply bg-transparent backdrop-filter-none shadow-none;
  }

  .linksContainer {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (min-width: 500px) and (max-width: 900px) {
      transform: translate(-25%, -50%);
    }

    a.linkItem {
      @apply text-white;
      padding: 0 10px;
      white-space: nowrap;
    }

    .linkItem {
      line-height: 2rem;
      font-weight: normal;
      text-decoration: none;
      cursor: pointer;

      &:hover {
        @apply text-pink-500;
      }
    }
  }

  .container,
  .row {
    height: 100%;
  }

  .socialIcons {
    margin: 27px 0 27px auto;
  }

  .column {
    display: flex;
    align-items: center;
  }

  .mainIndexHeader {
    height: 100%;
    width: 100%;
  }

  .logoHead {
    font-size: 20px !important;
    font-weight: 800;
    margin-bottom: 5px !important;
  }
}

.link-cta {
  @apply hover:underline-offset-2 hover:underline;
}

.adopter-container {
  @apply w-full md:w-1/4 flex md:justify-center flex p-10 items-center justify-center relative;

  z-index: 2;

  img {
    @apply inline-flex self-center justify-self-center object-contain object-center h-auto w-full mx-auto;
    @apply max-h-[100px] md:max-h-[150px] md:w-auto md:min-w-[100px] md:max-w-[120px] relative z-20 select-none;

    transition: all $transitionMedium;
  }

  &::before,
  &::after {
    opacity: 0;
    transition: $transitionMedium;
    display: inline-block;
    content: "";
    position: absolute;
    width: 200px;
    border-radius: 50%;
    height: 200px;
    left: calc((100% - 200px) / 2);
    background-blend-mode: overlay, normal, normal, color-dodge, normal;
    mix-blend-mode: normal;
    will-change: opacity;
  }

  &::before {
    filter: opacity(0.3) blur(20px);

    top: calc((100% - 200px) / 2);
    background: $gradientRegularPieceBefore;
  }

  &::after {
    filter: opacity(0.3) blur(20px);
    top: calc((100% - 200px) / 2);
    background: $gradientRegularPieceAfter;
  }

  &:hover,
  &:focus {
    @media (min-width: 768px) {
      color: $muted;
      img {
        transform: scale(1.35);
      }
      &::after,
      &::before {
        opacity: 0.45;
      }
    }
  }

  @media screen and (max-width: 768px) {
    img:hover {
      will-change: none;
      transform: none !important;
    }
  }

  &#AdopterOpenzeppelinLogo,
  &#AdopterAlchemixLogo,
  &#AdopterBalancerLogo {
    img {
      @apply md:min-w-[190px];
    }
  }
}

@import "variables.module";
@import "aos/src/sass/aos";

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}


body {
  @apply m-0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.link-cta {
  @apply hover:underline-offset-2 hover:underline;
}

