@import "variables.module";
@import "aos/src/sass/aos";

@import "lite-youtube-embed/src/lite-yt-embed.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html {
  scroll-behavior: smooth;
  @apply bg-pink-50 dark:bg-pink-900;
}


body {
  @apply m-0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.indexHeader {
  @apply backdrop-filter backdrop-blur-xl shadow-sm lg:overflow-hidden;
  @apply fixed w-full z-20 py-6 top-0;
  @apply backdrop-blur-xl bg-white/70 dark:bg-zinc-900/90;

  .container {
    @apply h-full;
  }
}

.featuredLink {
  @apply rounded-md border-2 px-4 py-2 font-medium shadow-sm transition-all lg:hover:shadow-md;
  @apply border-pink-700 text-pink-700 lg:hover:bg-pink-700 lg:hover:text-white;
  @apply dark:border-pink-500 dark:text-pink-300 dark:lg:hover:bg-pink-500 dark:lg:hover:text-white;
}

@import "variables.module";
@import "aos/src/sass/aos";

@tailwind base;
@tailwind components;
@tailwind utilities;


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.uiBlock {
  @apply w-full py-16 text-center;

  &.lightBackground {
    @apply bg-gradient-to-t to-pink-100;
    @apply dark:bg-zinc-700 dark:from-zinc-700;
  }

  &.mediumBackground {
    @apply bg-gradient-to-r;
    @apply from-pink-100 to-pink-300 dark:from-pink-600 dark:to-pink-900;
  }

  &.darkBackground {
    @apply bg-gradient-to-r;
    @apply from-pink-700 to-pink-900;
  }
}

.twitter-tweet, .twitter-tweet-rendered {
  margin: 0 !important;

  & > * {
    border-radius: 20px !important;
    overflow: hidden;
  }
}

@import "_home";