name: "Semantic release"

concurrency:
  group: semantic-release
  cancel-in-progress: true

on:
  push:
    branches:
      - main
jobs:
  release:
    if: ${{ github.event.repository.full_name == github.repository }} && {{ !contains(github.event.head_commit.message, "skip ci") }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          # Whether to configure the token or SSH key with the local git config
          # Default: true
          persist-credentials: false # <--- checking this in commit context

      - name: "Setup Node.js"
        uses: actions/setup-node@v3
        with:
          node-version: "18"
          cache: "yarn"

      - name: "Install dependencies"
        run: |
          yarn set version 3.5.1
          yarn install

      - name: "Lint"
        run: |
          npm run lint

      - name: Build
        run: |
          yarn generate
          zip -r dist.zip out vercel.json
        env:
          GA_SEMANTIC_RELEASE: true
          CI: true

      - name: "Semantic release"
        run: yarn semantic-release
        env:
          GA_SEMANTIC_RELEASE: true
          HUSKY: 0
          CI: true
          GITHUB_HEAD_REF: $GITHUB_HEAD_REF // testing
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GH_TOKEN: ${{ secrets.SEMANTIC_RELEASE_TOKEN }}

      - name: Publish artifact
        uses: actions/upload-artifact@v3
        with:
          name: dist
          path: dist.zip